<form class="example-form" [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <h1>Datos Personales</h1>
  <h2>Filiación</h2>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
    <mat-form-field class="example-full-width">
      <mat-label>Nombres</mat-label>
      <input matInput type="text" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Tipo de documento</mat-label>
      <mat-select formControlName="documentType">
        @for(documentType of documentTypes; track documentType) {
        <mat-option [value]="documentType.value">{{
          documentType.text
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Número de documento</mat-label>
      <input matInput type="text" formControlName="documentNumber" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate" />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Edad</mat-label>
      <input matInput type="number" [value]="age" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ocupación</mat-label>
      <input matInput type="text" formControlName="job" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Número de teléfono</mat-label>
      <input matInput type="tel" formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Domicilio</mat-label>
      <input matInput type="text" formControlName="address" />
    </mat-form-field>
    <mat-radio-group formControlName="isSpecialist">
      <label>Es especialista?</label>
      <mat-radio-button [value]="true">Si</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>
  </mat-grid-list>
  <div class="saveButtonBox">
    <button mat-flat-button class="saveButton" type="submit">Guardar</button>
  </div>
</form>
@if(isEditing) {
<div class="subheader">
  <h2>Historia clínica</h2>
  <a routerLink="/interview/new" [queryParams]="{ personId: personId }">
    <button class="btn" mat-fab color="primary" matTooltip="Registrar">
      <mat-icon>add</mat-icon>
    </button>
  </a>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="interviewNumber">
      <th mat-header-cell *matHeaderCellDef>Número</th>
      <td mat-cell *matCellDef="let interview">{{ interview.number }}</td>
    </ng-container>
    <ng-container matColumnDef="interviewDate">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let interview">
        {{ interview.recordedDateTime | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let interview">
        <a href="/" mat-icon-button aria-label="Editar" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button aria-label="Eliminar" matTooltip="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
}
