<style>
  .divider {
    width: 100%;
    height: 1px;
    margin-block: 1.5rem;
  }
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
    <div class="divider" aria-label="Divider"></div>
    <div class="right-side">
      <div></div>
    </div>
    <div>
      <h2>Filiación</h2>
      <label>
        Nombre:
        <input type="text" id="name" />
      </label>
      <label>
        Edad:
        <input type="text" id="age" />
      </label>
      <label for="">
        Ocupación
        <input type="text" id="job" />
      </label>
      <label>
        Telefono
        <input type="text" />
      </label>
    </div>
  </div>
</main>

<router-outlet />
