<!-- <main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
      <p>Visión perfecta y completa</p>
    </div>    
  </div>
</main> -->

<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <a routerLink="/" style="text-decoration: none;">Ophtalmic Center</a>
  <span class="example-spacer"></span>
  <div style="display: flex; align-items: center; gap: 1rem;">
    <div style="font-size: 1.2rem;">
      {{user.name}}
    </div>
    <button mat-button (click)="logout()">
      Cerrar sesión
      <mat-icon iconPositionEnd>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div style="margin: 20px;">
  <router-outlet />
</div>
