<h1>Forms Page</h1>
<form class="example-form">
  <h2>Filiación</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre:</mat-label>
    <input matInput >
  </mat-form-field> 
  <mat-form-field class="example-full-width">
    <mat-label>Edad:</mat-label>
    <input matInput >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Ocupación:</mat-label>
    <input matInput >
  </mat-form-field>
  <!-- <h2>Filiación</h2> -->
  <!-- <label>
    Nombre:
    <input type="text" id="name" />
  </label>
  <label>
    Edad:
    <input type="text" id="age" />
  </label> -->
  <!-- <label for="">
    Ocupación:
    <input type="text" id="job" />
  </label>
  <label>
    Teléfono:
    <input type="text" />
  </label> -->
</form>
