<div>
  <h1>N° Historia Clínica</h1>
  <form class="example-form">
    <h2>2. Anamnesis</h2>
    <mat-form-field>
      <mat-label>Anamnesis</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <h2>3. Tratamiento</h2>
    <h3>Lensometria</h3>
    <mat-form-field class="example-full-width">
      <mat-label>OD</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>OI</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>ADD</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <!--Refraction form--->
    <h3>Refracción</h3>
    <div class="far-container">
      <div>
        <h4>Lejos</h4>
        <mat-form-field class="ref-width">
          <mat-label>OD</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field class="ref-width">
          <mat-label>OI</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div>
        <h4>AV</h4>
        <mat-form-field class="ref-width">
          <mat-label>OD</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field class="ref-width">
          <mat-label>OI</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4>Cerca</h4>
        <mat-form-field class="example-full-width">
          <mat-label>ADD</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>DIP</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <h4>Lentes de Contacto</h4>
      <table mat-table [dataSource]="dataSource">
        <!--fieldName column-->
        <ng-container matColumnDef="fieldName">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.fieldName }}</td>
        </ng-container>
        <!--cLensesOD column-->
        <ng-container matColumnDef="cLensesOD">
          <th mat-header-cell *matHeaderCellDef>OD</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <!--cLensesOI column-->
        <ng-container matColumnDef="cLensesOI">
          <th mat-header-cell *matHeaderCellDef>OI</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <h2>4. Examen Oftamológico</h2>
    <div>
      <h3>Agudeza Visual</h3>
      <table mat-table [dataSource]="dataSourceVAcuity">
        <ng-container matColumnDef="fieldItem">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.fieldItem }}</td>
        </ng-container>
        <ng-container matColumnDef="vAcuitySC">
          <th mat-header-cell *matHeaderCellDef>SC</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="vAcuityCC">
          <th mat-header-cell *matHeaderCellDef>CC</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="vAcuityOP">
          <th mat-header-cell *matHeaderCellDef>Precisión ocular</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsVAcuity"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsVAcuity"></tr>
      </table>
    </div>
    <div>
      <h3>Polo anterior</h3>
      <table mat-table [dataSource]="dataSourceAPole">
        <ng-container matColumnDef="fieldItemPole">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            {{ element.fieldItemPole }}
          </td>
        </ng-container>
        <ng-container matColumnDef="aPoleOD">
          <th mat-header-cell *matHeaderCellDef>OD</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="aPoleOI">
          <th mat-header-cell *matHeaderCellDef>OI</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAPole"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAPole"></tr>
      </table>
    </div>
    <div>
      <h3>Polo Posterior</h3>
      <table mat-table [dataSource]="dataSourcePPole">
        <ng-container matColumnDef="fieldItemPPole">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            {{ element.fieldItemPPole }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pPoleOD">
          <th mat-header-cell *matHeaderCellDef>OD</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="pPoleOI">
          <th mat-header-cell *matHeaderCellDef>OI</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="text" />
            </mat-form-field>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPPole"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPPole"></tr>
      </table>
    </div>
    <div>
      <h3>Motilidad Ocular</h3>
      <table mat-table [dataSource]="dataSourceOM">
        <ng-container matColumnDef="fieldItemOM">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.fieldItemOM }}</td>
        </ng-container>
        <ng-container matColumnDef="OcularMotilityOD">
          <th mat-header-cell *matHeaderCellDef>OD</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="OcularMotilityOI">
          <th mat-header-cell *matHeaderCellDef>OI</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsOMotility"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOMotility"></tr>
      </table>
    </div>
    <div>
      <h3>Queratrometria</h3>
      <table mat-table [dataSource]="dataSourceK">
        <ng-container matColumnDef="fieldItemK">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{element.fieldItemK}}</td>
        </ng-container>
        <ng-container matColumnDef="KeratrometryOD">
          <th mat-header-cell *matHeaderCellDef>OD</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="KeratrometryOI">
          <th mat-header-cell *matHeaderCellDef>OI</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsK"></tr>
        <tr mat-row  *matRowDef="let row; columns: displayedColumnsK"></tr>
      </table>
    </div>
  </form>
</div>
