<div class="container-interview">
  <h1>N° Historia Clínica</h1>
  <form class="example-form">
    <h2>Anamnesis</h2>
    <mat-form-field>
      <mat-label>Anamnesis</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <h2>Tratamiento</h2>
    <h3>Lensometria</h3>
    <mat-form-field class="example-full-width">
      <mat-label>OD</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>OI</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>ADD</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <h3>Refracción</h3>
  </form>
</div>
