.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 48%;
  margin-right: 10px;
}

.far-container {
  display: flex;
}

.ref-width {
  width: 96%;
}

